{% extends 'base.html' %}

{% block head %}
<style type="text/css">
  body{
    background-color: #0288D1;
  }
  .container{
      position: absolute;
      top:25%;
      bottom: 0;
      left: 0;
      right: 0;
    text-align:center;
  }
  p{
    color:white;
  }
</style>

{% endblock %}

{% block content %}
<div class="container">
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
</div>
{% endblock %}
