{% extends 'base.html' %}

{% block head %}
<style type="text/css">
  body{
    background-color: #0288D1;
  }
  .container{
      position: absolute;
      top:25%;
      bottom: 0;
      left: 0;
      right: 0;
    text-align:center;
  }
  ul {
    list-style-type: none;
  }
  h3, p, label{
    color:white;
  }
  li{
    color:#BDBDBD;
    font-size: 20px;
  }
  button{
    cursor:pointer;
  }
</style>

{% endblock %}

{% block content %}
  {% if validlink %}
  <div class="container">
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg accent-color" type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}
