{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  <style>
  label,p,li{
    color:white;
  }
  li{
    color:red;
  }
  </style>
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}

<div>
        <label for="id_new_password1">New password:</label>
        {{ form.new_password1 }}
    </div>
    <div>
        <label for="id_new_password2">Confirm password:</label>
        {{ form.new_password2 }}
    </div>

<div>
    <input type="submit" value="Change my password"/>
</div>

</form>

{% endblock %}
