{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block head %}
  <style>
  label,p{
    color:white;
  }
  </style>
{% endblock %}

{% block content %}
  <p>"Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one."</p>
  <row>
    <div col>
      <form method="post">{% csrf_token %}
          <div>
              {{ form.email.errors }}
              <label for="id_email">Email address:</label>
              {{ form.email }}
          </div>
          <br>
          <input type="submit" value="Reset my password" />
      </form>
    </div>
  </row>
{% endblock %}
