{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 ">
        {% if staff %}
          {% if obj.draft %}
            <p style="color:red;">Draft</p>
          {% endif %}
        {% endif %}
        <h3> {{ obj.title }} ({{ obj.published }})</h3>
        {% if obj.image %}
        <div class="thumbnail">
          <img src='{{obj.image.url}}' class='img-responsive'/>
        </div>
        {% endif %}
        <hr>
        <p> {{ obj.content|safe }} </p>
      </div>
    </div>
</div>
{% endblock %}
