{% extends 'base.html' %}

{% block content %}
<h1> Blog </h1>
<form method='GET' action =''>
  <input type="text" name='q' placeholder="Search posts"/>
  <input type="submit" value="Search" />

<div class="container">
  {% for obj in object_list %}
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        {% if staff %}
          {% if obj.draft %}
            <p style="color:red;">Draft</p>
          {% endif %}
        {% endif %}

        <a href="/blog/{{ obj.id }}"><h3> {{ obj.title }} ({{ obj.published }})</h3></a>
        {% if obj.image %}
        <div class="thumbnail">
          <img src='{{obj.image.url}}' class='img-responsive'/>
        </div>
        {% endif %}
        <hr>
        <p> {{ obj.content|safe }} </p>
      </div>
    </div>
  {% endfor %}

  <div class="row">
    <div class="pagination">
      <span class="step-links">
        {% if object_list.has_previous %}
        <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a>
        {% endif %}

      <span class="current">
        Page {{ object_list.number }} / {{ object_list.paginator.num_pages }}.
      </span>

      {% if object_list.has_next %}
        <a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">next</a>
        {% endif %}
      </span>
    </div>
  </div>


</div>
{% endblock %}
